.orange {
  color: orange;
}

.orangeBg {
  background-color: orange;
}

.rounded1Rem {
  border-radius: 1rem;
}

.roundedTop {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.buttonCustom {
  width: 8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.slickImgContainer {
  height: 20vh;
}
