.orange {
  color: orange;
}

.orangeBg {
  background-color: orange;
}

.rounded1Rem {
  border-radius: 2rem;
}

.roundedTop {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.buttonCustom {
  width: 8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.marginBottomCust {
  margin-bottom: -4rem;
}

.slickImgContainer {
  height: 20vh;
}

.navBarHeight {
  height: 5rem;
}

.smartPhoneGS5 {
  width: 360px;
  height: 640px;
}

.smartPhoneI10 {
  width: 360px;
  height: 640px;
}

.smartPhonePixel {
  width: 411px;
  height: 731px;
}
