.orange {
  color: orange;
}

.orangeBg {
  background-color: orange;
}

.rounded2Rem {
  border-radius: 2rem;
}

.rounded1Rem {
  border-radius: 1rem;
}

.roundedTop {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.buttonCustom {
  width: 8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.marginBottomCust {
  margin-bottom: -4rem;
}

.slickImgContainer {
  height: 18vh;
}

.slickImgContainerMed {
  height: 22vh;
}

.slickImgContainerLarge {
  height: 30vh;
}

.doubleBorder {
  border-width: 0.3rem;
  border-color: white;
  border-style: double;
}

.settingButton {
  width: 10rem;
  height: 5rem;
}

.navBarHeight {
  height: 5rem;
}

.smartPhoneGS5 {
  width: 360px;
  height: 640px;
}

.smartPhoneI10 {
  width: 375px;
  height: 812px;
}

.smartPhonePixel {
  width: 411px;
  height: 731px;
}

.pcScreen1920x1080 {
  width: 1920px;
  height: 1080px;
}

.pcScreen1600x900 {
  width: 1600px;
  height: 900px;
}

.pcScreen1024x768 {
  width: 1024px;
  height: 768px;
}

.tablet {
  width: 768px;
  height: 1024px;
}

.tabletPro {
  width: 1024px;
  height: 1366px;
}

.tNR {
  font-family: 'Times New Roman';
}

.arial {
  font-family: 'Arial';
}

.verdana {
  font-family: 'Verdana';
}
